
//DK_START_GW1NSR4C_QN48P V1.1
//GW1NSR-LV4CQN48PC7/I6
//GW1NSR-4C
// -- Sipeed Nano 4K pinout

//MCU system clock
IO_LOC "sys_clk" 45;//F_CLK
IO_PORT "sys_clk" PULL_MODE=UP;

//IO_LOC "key1_n" 14;//KEY1
//IO_PORT "key1_n" IO_TYPE=LVCMOS18;

//MCU system reset
IO_LOC "reset_n" 15;//KEY2
IO_PORT "reset_n" PULL_MODE=UP;


//LED
IO_LOC "gpioout" 10;// LED1
IO_PORT "gpioout" PULL_MODE=NONE DRIVE=8;

//KEY
IO_LOC "gpioin" 21;//KEY1
IO_PORT "gpioin" IO_TYPE=LVCMOS25;
//IO_PORT "gpioin" IO_TYPE=LVCMOS18;

//UART0
IO_LOC "uart0_rxd" 17;//UART_RXD
IO_LOC "uart0_txd" 16;//UART_TXD
IO_PORT "uart0_rxd" IO_TYPE=LVCMOS33;
IO_PORT "uart0_txd" IO_TYPE=LVCMOS33;
